@page "/AudioEncode"
@using System.Diagnostics
@using Microsoft.JSInterop
@using System.Text;
@using MudBlazor;
@using ByteSizeLib;
@using System.IO.Compression;
@using SteganoBlaze.Shared.Classes;
@using SteganoBlaze.Shared.Classes.Types;
@inherits BaseEncode;
@inject AppState AppState
@inject IStringLocalizer<Resource> Loc
@inject ISnackbar Snackbar

<PageTitle>@Loc["AudioEncoding"]</PageTitle>

<a hidden id="saveLink" download="" href="" target="_blank"/>
<MudGrid Spacing="1">
	<MudItem sm="12" md="6" xs="12">
        <MudPaper Elevation="3" Class="py-0 my-0" Style="height:100%">
            <MudList Clickable="false" DisablePadding="true" Class="py-0 my-0" Style="height:100%">
                <MudListItem Class="py-0 my-0">
                    <InputFile class="custom-file-input" OnChange="OpenCarrier" hidden accept="audio/wav, audio/x-wav" id="inputAudio"/>
                    <MudButton HtmlTag="label"
                                Variant="Variant.Filled"
                                Color="Color.Tertiary"
                                StartIcon="@Icons.Filled.Audiotrack"
                                FullWidth="true"
								Disabled=@processing
								Class="mt-2"
                                for="inputAudio">
                        <MudText Typo="Typo.button" Class="align-center">@Loc["ChooseCarrier"]</MudText>
                    </MudButton>
                </MudListItem>
                <MudListItem Class="py-0 my-0">
                    <MudText Typo="Typo.body2" Style="word-break: break-all; font-size: min(3vw, 16px);">@Loc["Name"]: @(carrier?.fileName ?? "")</MudText>
                </MudListItem>
                <MudListItem Class="py-0 my-0" >
					<MudList Clickable="false" Dense="true" Class="d-flex justify-space-between flex-row" DisablePadding="true" DisableGutters="true">
						<MudListItem Style="width:70%" Class="py-0 my-0">	
							<MudText Typo="Typo.body2" Style="font-size: min(3vw, 16px);">@Loc["Size"]: @(carrier?.SizeToString() ?? "")</MudText>
						</MudListItem>
							<MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="pa-0 my-1 mx-2" />
						<MudListItem DisableGutters="true" Class="py-0 my-0">
							<MudContainer Class="d-flex flex-wrap align-content-start pa-0 ma-0">
								<MudText Class="pr-2" Typo="Typo.body2" Style="font-size: min(3vw, 16px);">@Loc["Duration"]:</MudText>
								<MudText Typo="Typo.body2" Style="font-size: min(3vw, 16px);">@(carrierAudio?.GetDuration() ?? "")</MudText>
							</MudContainer>
						</MudListItem>
					</MudList>
                </MudListItem>
            </MudList>
        </MudPaper>
	</MudItem>

	<MudItem sm="12" md="6" xs="12"> 
		<MudPaper Elevation="3" Style="height:100%">
            <MudList Clickable="false" DisablePadding="true" Class="py-0 my-0" Style="height:100%">
                <MudListItem Class="py-0 my-0">
                    <InputFile class="custom-file-input" OnChange="OpenMessage" hidden id="inputFile" />
                    <MudButton HtmlTag="label"
                                Variant="Variant.Filled"
                                Color="Color.Tertiary"
                                StartIcon="@Icons.Filled.AttachFile"
								Disabled=@processing
                                FullWidth="true"
								Class="mt-2"
                                for="inputFile">
                            <MudText Typo="Typo.button" Align="Align.Center">@Loc["ChooseMessage"]</MudText>
                    </MudButton>
                </MudListItem>
                <MudListItem Class="py-0 my-0">
                    <MudText Typo="Typo.body2" Style="word-break: break-all; font-size: min(3vw, 16px);">@Loc["Name"]: @(message?.fileName ?? "")</MudText>
                </MudListItem>
                <MudListItem Class="py-0 my-0">
					<MudList Clickable="false" Dense="true" Class="d-flex justify-space-between flex-row" DisablePadding="true" DisableGutters="true">
						<MudListItem Style="width:70%" Class="py-0 my-0">	
							<MudText Typo="Typo.body2" Style="font-size: min(3vw, 16px);">@Loc["Size"]: @(message?.SizeToString() ?? "")</MudText>
						</MudListItem>
						<MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="pa-0 my-1 mx-2"/>
						<MudListItem DisableGutters="true" Class="py-0 my-0">
							<MudContainer Class="d-flex flex-wrap align-content-start pa-0 ma-0">
								<MudText Class="pr-2" Typo="Typo.body2" Style="font-size: min(3vw, 16px);">@Loc["Type"]:</MudText>
								<MudText Typo="Typo.body2" Style="font-size: min(3vw, 16px);">@(message?.contentType ?? "")</MudText>
							</MudContainer>
						</MudListItem>
					</MudList>
                </MudListItem>
            </MudList>
		</MudPaper>
	</MudItem>

	<MudItem xs="12" sm="6">
        <MudPaper Elevation="3" Style="height:100%">
			<MudText Typo="Typo.body1" Align="Align.Center">@Loc["SampleBitsToEncode"]</MudText>
			<MudDivider/>
            <MudList Clickable="false" Dense="true" DisableGutters="true" DisablePadding="true" Class="d-flex flex-row align-content-center">
                <MudListItem>
                    <MudNumericField Class="px-4 mud-tertiary-text" AdornmentColor="Color.Tertiary" Value="@sampleBitsToUse" ValueChanged="@((int b) => SampleBitsToUseChanged(b))" Label="@Loc["Bits"]" Variant="Variant.Text" Min="1" Max="@(carrierAudio?.bitsPerSample ?? 32)" />
                </MudListItem>
				<MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="pa-0 ma-0"/>
				<MudListItem>
					<MudContainer Class="d-flex flex-column align-content-center pa-0 ma-0">
						<MudText Typo="Typo.body2" Align="Align.Center" Style="font-size: min(3.5vw, 14px);">@Loc["BitsPerSample"]</MudText>
						<MudText Typo="Typo.body1" Align="Align.Center">@((carrierAudio?.bitsPerSample.ToString() ?? "-"))</MudText>
						</MudContainer>
				</MudListItem>
            </MudList>
        </MudPaper>
	</MudItem>

	<MudItem xs="12" sm="6">
        <MudPaper Elevation="3" Style="height:100%" Class="d-flex flex-column">
			<MudText Typo="Typo.body1" Align="Align.Center">@Loc["EncodingInformation"]</MudText>
			<MudDivider/>
            <MudList Clickable="false" Dense="true" DisableGutters="true" DisablePadding="true" style="height:100%" Class="d-flex flex-row align-content-center">
                <MudListItem>
					<MudContainer Class="d-flex flex-column align-content-center pa-0 ma-0">
							<MudText Typo="Typo.body2" Align="Align.Center" Style="font-size: min(3.5vw, 14px);">@Loc["CarrierCapacity"]</MudText>
							<MudText Typo="Typo.body1" Align="Align.Center">@carrierCapacity</MudText>
					</MudContainer>
                </MudListItem>
                <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="pa-0 ma-0"/>
                <MudListItem>
					<MudContainer Class="d-flex flex-column align-content-center pa-0 ma-0">
						<MudText Typo="Typo.body2" Color="@carrierUsageColor" Align="Align.Center" Style="font-size: min(3.5vw, 14px);">@Loc["CarrierUsage"]</MudText>
						<MudText Typo="Typo.body1" Color="@carrierUsageColor" Align="Align.Center">@carrierUsage</MudText>
					</MudContainer>
                </MudListItem>
            </MudList>
        </MudPaper>
	</MudItem>

		<MudItem xs="12">
        <MudPaper Elevation="3" Style="height:100%" Class="d-flex align-center justify-center mud-width-full">
			<MudExpansionPanels Style="width:100%">
				<MudExpansionPanel Dense="true">
					<TitleContent>
						<div class="d-flex">
							<MudText>@Loc["AdvancedOptions"]</MudText>
						</div>
					</TitleContent>
					<ChildContent>
						<MudGrid style="height:100%" Class="align-content-center justify-space-around" Spacing="0">
							<MudItem sm="3" xs="12" Class="py-1">
								<MudText Typo="Typo.body1" Align="Align.Center">@Loc["MessageCompression"]</MudText>
								<MudContainer Class="d-flex flex-row align-content-center justify-center align-center">
									<MudText Typo="Typo.body2" Align="Align.Justify">@Loc["Off"]</MudText>
										<MudSwitch Checked="@compressionEnabled" CheckedChanged="@((bool c) => CompressionEnabledChanged(c))" Color="Color.Primary" Class="mx-2" T="bool" Disabled="@(message is null || processing is true)"/>
									<MudText Typo="Typo.body2"  Align="Align.Justify">@Loc["On"]</MudText>
								</MudContainer>
							</MudItem>
							<MudItem sm="3" xs="12" Class="py-1">
								<MudText Typo="Typo.body1" Align="Align.Center">@Loc["MessageEncryption"]</MudText>
								<MudContainer Class="d-flex flex-row align-content-center justify-center align-center">
									<MudText Typo="Typo.body2" Align="Align.Justify">@Loc["Off"]</MudText>
										<MudSwitch Checked="@encryptionEnabled" CheckedChanged="@((bool e) => EncryptionEnabledChanged(e))"  Color="Color.Primary" Class="mx-2" T="bool" Disabled="@processing"/>
									<MudText Typo="Typo.body2"  Align="Align.Justify">@Loc["On"]</MudText>
								</MudContainer>
							</MudItem>
							<MudItem sm="3" xs="12" Class="py-1">
								<MudText Typo="Typo.body1" Align="Align.Center">@Loc["ScatteredEncoding"]</MudText>
								<MudContainer Class="d-flex flex-row align-content-center justify-center align-center">
									<MudText Typo="Typo.body2" Align="Align.Justify">@Loc["Off"]</MudText>
									<MudSwitch @bind-Checked="@scatteredEncodingEnabled" Color="Color.Primary" Class="mx-2" T="bool" Disabled="@processing"/>
									<MudText Typo="Typo.body2" Align="Align.Justify">@Loc["On"]</MudText>
								</MudContainer>
							</MudItem>
							<MudItem xs="12" hidden="@(!encryptionEnabled)">
								<MudDivider/>
								<MudText Typo="Typo.body1" Class="pt-4" Align="Align.Center">@Loc["EncryptionPassword"]</MudText>
								<MudGrid Class="align-content-center justify-space-evenly pb-4" Spacing="2">
									<MudItem sm="4" xs="12">
										<MudTextField @bind-Value="password" T="string" Label="@Loc["EnterPassword"]" HelperText="@passwordError" Error="@(passwordError is not null)" InputType="InputType.Password" HelperTextOnFocus="false"/>
									</MudItem>
									<MudItem sm="4" xs="12">
										<MudTextField @bind-Value="passwordRepeat" T="string" Label="@Loc["RepeatPassword"]" HelperText="@passwordRepeatError" Error="@(passwordRepeatError is not null)" InputType="InputType.Password" HelperTextOnFocus="false"/>
									</MudItem>
								</MudGrid>
							</MudItem>
						</MudGrid>
					</ChildContent>
				</MudExpansionPanel>
			</MudExpansionPanels>
        </MudPaper>
	</MudItem>

	<MudItem xs="12">
        <MudPaper Elevation="3" Class="d-flex align-center justify-center mud-width-full pa-0">
			<MudList Clickable="false" Dense="true" DisablePadding="true" Style="width:100%" Class="d-flex flex-column pa-0">
				<MudListItem Class="pb-2 pt-3">
					<MudProgressLinear Color="Color.Tertiary" Rounded="true" Size="Size.Large" Style="transform: scaleY(2)" Value="@processingValue">
						<MudText Typo="Typo.subtitle2" Color="Color.Primary" Style="transform: scaleY(0.5);" Class="align-center">@processingTask</MudText>
					</MudProgressLinear>
				</MudListItem>
				<MudListItem Class="pt-0">
					<MudList Clickable="false" DisableGutters="true" DisablePadding="true" Dense="true" Style="width:100%" Class="d-flex justify-space-around flex-row">
						<MudButton HtmlTag="label"
									Variant="Variant.Filled"
									Color="Color.Tertiary"
									StartIcon="@Icons.Filled.UploadFile"
									OnClick="EncodeFile"
									Disabled=@encodeButtonDisabled
									Style="width:100%">
							<MudText Typo="Typo.button" Class="align-center">@Loc["Encode"]</MudText>
						</MudButton>
						<MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle"/>
						<MudButton HtmlTag="label"
									Variant="Variant.Filled" 
									Color="Color.Tertiary"
									StartIcon="@Icons.Filled.Download"
									OnClick="SaveCarrier"
									Disabled=@(encodedCarrier is null)
									Style="width:100%">
							<MudText Typo="Typo.button" Class="align-center">@Loc["Save"]</MudText>
						</MudButton>
					</MudList>
				</MudListItem>
			</MudList>
        </MudPaper>
	</MudItem>

	<MudItem xs="12" sm="6" hidden="@(base.carrier is null)">
		<MudPaper Elevation="3" Style="height:100%" Class="px-0 mx-0">
			<MudList Clickable="false" Dense="true" Class="px-0 mx-0">
				<MudListItem Class="pa-0 ma-0">
					<MudContainer Style="width:100%" Class="d-flex justify-center flex-row px-f">
						<MudButton Variant="Variant.Outlined"
									Color="Color.Tertiary"
									Size="Size.Small"
									FullWidth="true"
									DisableRipple = "true"
									Class="mt-2 cursor-default">
							<MudText Typo="Typo.button" Style="font-size: min(2vw, 16px);" Class="align-center">@Loc["OriginalAudio"]</MudText>
						</MudButton>
					</MudContainer>
                </MudListItem>
                <MudListItem Class="px-0 mx-0">
					<MudContainer Class="d-flex justify-center px-2 mx-0">
						@if(base.carrier is not null)
						{
							<audio controls="controls" preload="none">
								<source src="data:@base.carrier.contentType;base64,@base.carrier.base64Data"/>
							</audio>
						}
					</MudContainer>
                </MudListItem>
            </MudList>
        </MudPaper>
	</MudItem>

	<MudItem xs="12" sm="6" hidden=" @(encodedCarrier is null)">
		<MudPaper Elevation="3" Style="height:100%" Class="px-0 mx-0">
			<MudList Clickable="false" Dense="true" Class="px-0 mx-0">
				<MudListItem Class="pa-0 ma-0">
					<MudContainer Style="width:100%" Class="d-flex justify-center flex-row px-4">
						<MudButton Variant="Variant.Outlined"
									Color="Color.Tertiary"
									Size="Size.Small"
									FullWidth="true"
									DisableRipple = "true"
									Class="mt-2 cursor-default">
							<MudText Typo="Typo.button" Style="font-size: min(2vw, 16px);" Class="align-center">@Loc["EncodedAudio"]</MudText>
						</MudButton>
					</MudContainer>
                </MudListItem>
                <MudListItem Class="py-0 my-0">
					<MudContainer Class="d-flex justify-center px-2 mx-0">
						@if(encodedCarrier is not null)
						{
							<audio controls="controls" preload="none">
								<source src="data:@encodedCarrier.contentType;base64,@encodedCarrier.base64Data" />
							</audio>
						}
					</MudContainer>
                </MudListItem>
            </MudList>
        </MudPaper>
	</MudItem>

</MudGrid>

@code 
{
	WAV? carrierAudio;
	public int sampleBitsToUse { get; set; } = 1;

	protected override void OnInitialized()
	{
		AppState.OnChange += StateHasChanged;
		AppState.SetPageTheme(Color.Tertiary, "AudioEncoding");
	}
	public async Task ChangeState()
	{
		await InvokeAsync(StateHasChanged);
		await Task.Delay(1);
	}

	protected override async Task ReadCarrier(byte[] carrierBytes, IBrowserFile fileInfo)
	{
		carrier = new Base64File(carrierBytes, fileInfo);
		carrierAudio = new WAV(carrierBytes);
		await CheckCapacity();
	}
	protected override async Task ResetCarrier()
	{
		processingValue = 0;

		processing = false;
		encodeButtonDisabled = true;

		carrierCapacity = "-";
		carrierUsage = "-";
		processingTask = "";

		carrier = null;
		encodedCarrier = null;
		carrierAudio = null;

		carrierUsageColor = Color.Default;

		StateHasChanged();
		await Task.Delay(1);
	}

	async Task SampleBitsToUseChanged(int value)
	{
		sampleBitsToUse = value;

		if(value > 3)
			Snackbar.Add(Loc["EncodingBitsWarning"], Severity.Warning);

		await CheckCapacity();
	}

	protected override async Task CheckCapacity()
	{
		if(carrier is not null) carrierCapacity = Loc["Checking"];
		if(message is not null)
		{
			carrierUsageColor = Color.Default;
			carrierUsage = @Loc["Checking"];
		}
		StateHasChanged();
		await Task.Delay(10);

		if(carrierAudio is not null)
		{
			var capacity = (double)carrierAudio.GetSampleCount() * sampleBitsToUse / 8;
			carrierCapacity = ByteSize.FromBytes(capacity).ToString();

			if(message is not null)
			{
				carrierUsage = ((message.messageSize + 100) / capacity * 100).ToString("0.0") + " %";
				if (message.messageSize / capacity < 1)
				{
					carrierUsageColor = Color.Success;
					encodeButtonDisabled = false;
				}
				else
				{
					carrierUsageColor = Color.Error;
					encodeButtonDisabled = true;
				}
			}
		}
	}
	async Task EncodeFile()
	{
		if (carrier is null || carrierAudio is null || message is null)
			return;
		if (ValidatePassword() is false) 
			return;

		watch.Reset();
		watch.Start();
		processing = true;
		encodedCarrier = null;

		//Optional encryption
		if (encryptionEnabled)
		{
			await UpdateProgress(Loc["EncryptingMessage"], 0);
			try
			{
				await EncryptMessage();
			}
			catch
			{
				await UpdateProgress(Loc["ErrorEncryptingMessage"], 0);
				return;
			}
		}

		try
		{
			//Encoding message
			await UpdateProgress(Loc["EncodingMessage"], 25);
			AudioEncoder encoder = new AudioEncoder(carrierAudio, sampleBitsToUse, scatteredEncodingEnabled);
			var encodedCarrierBytes = encoder.Encode(message);

			encodedCarrier = new Base64File { base64Data = Convert.ToBase64String(encodedCarrierBytes), contentType = carrier.contentType, fileName = AddSuffix(carrier.fileName) };
		
			watch.Stop();
			await UpdateProgress(Loc["EncodingDoneIn"] + " " + watch.Elapsed.TotalSeconds.ToString("0.00") + " s!", 100);
			processing = false;
		}
		catch
		{
			await UpdateProgress(Loc["ErrorEncodingMessage"], 0);
			return;
		}
	}
	private string AddSuffix(string fileName)
	{
		string name = Path.GetFileNameWithoutExtension(fileName);
		string ext = Path.GetExtension(fileName);
		return String.Concat(name, Loc["_encoded"], ext);
	}
}