@page "/AudioDecodingPage"
@inject AppState AppState
@inject IStringLocalizer<Resource> Localize
@using SteganoBlaze.Components.Audio
@implements IDisposable

<PageTitle>@Localize["AudioDecoding"]g</PageTitle>

<a hidden id="saveLink" download="" href="" target="_blank"></a>
<MudGrid Spacing="1">
    <MudItem sm="12" md="6" xs="12">
        <MudPaper Elevation="3" Class="py-0 my-0" Style="height: 100%">
            <OpenAudio Disabled="@_processing" OnAudioChanged="@(CarrierChanged)"/>
        </MudPaper>
    </MudItem>

    <MudItem sm="12" md="6" xs="12">
        <MudPaper Elevation="3" Style="height: 100%">
            <ShowMessage Message="@_message"/>
        </MudPaper>
    </MudItem>

    <MudItem xs="12">
        <MudPaper Elevation="3" Style="height: 100%" Class="d-flex mud-width-full">
            <MudGrid Class="align-center justify-space-evenly" Spacing="0">
                <MudItem sm="4" xs="12" Class="pa-1">
                    <MudText Typo="Typo.body1" Style="font-size: min(3vw, 16px);" Align="Align.Center">@Localize["EnterPasswordIfEncrypted"]</MudText>
                    <MudText Typo="Typo.body1" Style="font-size: min(3vw, 16px);" Align="Align.Center">@Localize["LeaveEmptyIfNot"]</MudText>
                </MudItem>
                <MudItem sm="4" xs="12" Class="pa-1">
                    <PasswordInput OnPasswordChanged="@(PasswordChanged)"/>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudItem>

    <MudItem xs="12">
        <MudPaper Elevation="3" Class="d-flex align-center justify-center mud-width-full pa-0">
            <AudioDecode
                EncodedCarrier="@_encodedCarrier"
                Password="@_password"
                OnProcessingChanged="@(ProcessingChanged)"
                OnMessageChanged="@(MessageChanged)">
            </AudioDecode>
        </MudPaper>
    </MudItem>

    <MudItem xs="12" hidden="@(_encodedCarrier is null)">
        <MudPaper Elevation="3" Style="height: 100%" Class="px-0 mx-0">
            <AudioPreview Label=@Localize["EncodedAudio"] Carrier="@_encodedCarrier"/>
        </MudPaper>
    </MudItem>
</MudGrid>

@code
{
    Wav? _encodedCarrier;
    File? _message;

    bool _processing;
    string? _password;

    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
        AppState.SetPageTheme(Color.Tertiary, "AudioDecoding");
    }

    void CarrierChanged(Wav value)
    {
        _encodedCarrier = value;
        _message = null;
    }

    void MessageChanged(File value)
    {
        _message = value;
    }

    void PasswordChanged(string? value)
    {
        _password = value;
    }

    void ProcessingChanged(bool value)
    {
        _processing = value;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}