@page "/"
@inject AppState AppState
@inject IStringLocalizer<Resource> Localize
@implements IDisposable

<PageTitle>@Localize["AboutSteganoBlaze"]</PageTitle>

<h2>SteganoBlaze</h2>
<div> 
    <MudText Typo="Typo.body1" Inline="true" Align="Align.Justify" Style="font-size: min(4vw, 14px);">SteganoBlaze is a steganography app that enables the user to hide any type of file (the message) inside an image or an audio file (the carrier) and later recover it.</MudText>
    <MudText Typo="Typo.body1" Inline="true" Align="Align.Justify" Style="font-size: min(4vw, 14px);">Hidden files can be additionally protected with a password using the secure AES encryption algorithm.</MudText>
    <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">All processing is done locally on the browser, neither the carrier nor the message is transmitted over the web.</MudText>
    <br />
    <MudText Typo="Typo.body1" Inline="true" Align="Align.Justify" Style="font-size: min(4vw, 14px);">Made with</MudText>
    <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" style="font-size: min(4vw, 14px);" target="_blank"><MudText Typo="Typo.body1" Inline="true" Align="Align.Justify" Style="font-size: min(4vw, 14px);">Blazor WebAssembly</MudText></a>
    <MudText Typo="Typo.body1" Inline="true" Align="Align.Justify" Style="font-size: min(4vw, 14px);">framework and the</MudText>
    <a href="https://mudblazor.com/" style="font-size: min(4vw, 14px);" target="_blank">Mudblazor</a>
    <MudText Typo="Typo.body1" Inline="true" Align="Align.Justify" Style="font-size: min(4vw, 14px);">library.</MudText>
    <br />
</div>
<br />

<h2>Steganography</h2>
<div>
    <MudText Typo="Typo.body1" Inline="true" Align="Align.Justify" Style="font-size: min(4vw, 14px);">Steganography is the practice of concealing a message within another message or a physical object.</MudText>
    <MudText Typo="Typo.body1" Inline="true" Align="Align.Justify" Style="font-size: min(4vw, 14px);">The advantage of steganography over cryptography alone is that the intended secret message does not attract attention to itself as an object of scrutiny. </MudText>
    <MudText Typo="Typo.body1" Inline="true" Align="Align.Justify" Style="font-size: min(4vw, 14px);">Plainly visible encrypted messages, no matter how unbreakable they are, arouse interest and may in themselves be incriminating in countries in which encryption is illegal.</MudText>
    <MudText Typo="Typo.body1" Inline="true" Align="Align.Justify" Style="font-size: min(4vw, 14px);">Whereas cryptography is the practice of protecting the contents of a message alone, steganography is concerned with concealing the fact that a secret message is being sent and its contents. </MudText>

    <br />
    <a href="https://wikipedia.org/wiki/Steganography" target="_blank">More about steganography</a>
</div>
<br />
<MudExpansionPanels MultiExpansion="true">
    <MudExpansionPanel Text=@Localize["EncodingInstructions"]>
        <MudExpansionPanels MultiExpansion="true">
            <MudExpansionPanel Text=@Localize["SelectingCarrier"] Class="mud-theme-primary">
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["SelectingCarrier_1"]</MudText>
                <br />
                <h4>@Localize["SelectingCarrier_2"]</h4>
                <ul>
                    <li style="margin-left:10px"><MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">PNG</MudText></li>
                    <li style="margin-left:10px"><MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">JPEG</MudText></li>
                    <li style="margin-left:10px"><MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">APNG</MudText></li>
                    <li style="margin-left:10px"><MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">GIF</MudText></li>
                    <li style="margin-left:10px"><MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">SVG</MudText></li>
                    <li style="margin-left:10px"><MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">WebP</MudText></li>
                    <li style="margin-left:10px"><MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">BMP</MudText></li>
                    <li style="margin-left:10px"><MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">ICO</MudText></li>
                </ul>
                <br />
                <h4>@Localize["SelectingCarrier_3"]</h4>
                <ul>
                    <li style="margin-left:10px"><MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">WAV</MudText></li>
                </ul>
                <br />
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["SelectingCarrier_4"]</MudText>
            </MudExpansionPanel>
            <MudExpansionPanel Text=@Localize["SelectingMessage"] Class="mud-theme-primary">
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["SelectingMessage_1"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["SelectingMessage_2"]</MudText>
            </MudExpansionPanel>
            <MudExpansionPanel Text=@Localize["EncodingOptions"] Class="mud-theme-primary">
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["EncodingOptions_1"]</MudText>
                <br />
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["EncodingOptions_2"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["EncodingOptions_3"]</MudText>
                <br />
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["EncodingOptions_4"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["EncodingOptions_5"]</MudText>
            </MudExpansionPanel>
            <MudExpansionPanel Text=@Localize["MoreOptions"] Class="mud-theme-primary">
                <MudText Typo="Typo.h3" Style="font-size: min(5vw, 18px);">@Localize["MoreOptions_1"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["MoreOptions_2"]</MudText>
                <br />
                <MudText Typo="Typo.h3" Style="font-size: min(5vw, 18px);">@Localize["MoreOptions_3"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["MoreOptions_4"]</MudText>
                <br />
                <MudText Typo="Typo.h3" Style="font-size: min(5vw, 18px);">@Localize["MoreOptions_5"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["MoreOptions_6"]</MudText>
                <br/>
                <MudText Typo="Typo.h3" Style="font-size: min(5vw, 18px);">@Localize["MoreOptions_7"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["MoreOptions_8"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["MoreOptions_9"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["MoreOptions_10"]</MudText>
            </MudExpansionPanel>
            <MudExpansionPanel Text=@Localize["Encoding"] Class="mud-theme-primary">
                <MudText Typo="Typo.body2" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["Encoding_1"]</MudText>
                <MudText Typo="Typo.body2" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["Encoding_2"]</MudText>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudExpansionPanel>
</MudExpansionPanels>
<br />
<MudExpansionPanels MultiExpansion="true">
    <MudExpansionPanel Text=@Localize["DecodingInstructions"]>
        <MudExpansionPanels MultiExpansion="true">
            <MudExpansionPanel Text=@Localize["SelectingCarrier"] Class="mud-theme-primary">
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["SelectingCarrier_6"]</MudText>
                <br />
                <h4>@Localize["SelectingCarrier_2"]</h4>
                <ul>
                    <li style="margin-left:10px">PNG</li>
                    <li style="margin-left:10px">WebP</li>
                </ul>
                <br />
                <h4>@Localize["SelectingCarrier_3"]</h4>
                <ul>
                    <li style="margin-left:10px">WAV</li>
                </ul>
                <br />
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["SelectingCarrier_4"]</MudText>
            </MudExpansionPanel>
            <MudExpansionPanel Text=@Localize["EncryptionPassword"] Class="mud-theme-primary">
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["EncryptionPassword_1"]</MudText>
            </MudExpansionPanel>
            <MudExpansionPanel Text=@Localize["Decoding"] Class="mud-theme-primary">
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["Decoding_1"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["Decoding_2"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["Decoding_3"]</MudText>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudExpansionPanel>
</MudExpansionPanels>

@code
{
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
        AppState.SetPageTheme(Color.Info, "AboutSteganoBlaze");
    }
    public void Dispose()
	{
		AppState.OnChange -= StateHasChanged;
	}
}