@page "/"
@inject AppState AppState
@inject IStringLocalizer<Resource> Localize
@implements IDisposable

<PageTitle>@Localize["AboutSteganography"]</PageTitle>

<h2>SteganoBlaze</h2>

<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

<br />
<h2>Steganography</h2>
<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
<br />
<MudExpansionPanels MultiExpansion="true">
    <MudExpansionPanel Text=@Localize["EncodingInstructions"]>
        <MudExpansionPanels MultiExpansion="true">
            <MudExpansionPanel Text=@Localize["SelectingCarrier"] Class="mud-theme-primary">
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["SelectingCarrier_1"]</MudText>
                <br />
                <h4>@Localize["SelectingCarrier_2"]</h4>
                <ul>
                    <li style="margin-left:10px">PNG</li>
                    <li style="margin-left:10px">JPEG</li>
                    <li style="margin-left:10px">APNG</li>
                    <li style="margin-left:10px">GIF</li>
                    <li style="margin-left:10px">SVG</li>
                    <li style="margin-left:10px">WebP</li>
                    <li style="margin-left:10px">BMP</li>
                    <li style="margin-left:10px">ICO</li>
                </ul>
                <br />
                <h4>@Localize["SelectingCarrier_3"]</h4>
                <ul>
                    <li style="margin-left:10px">WAV</li>
                </ul>
                <br />
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["SelectingCarrier_4"]</MudText>
            </MudExpansionPanel>
            <MudExpansionPanel Text=@Localize["SelectingMessage"] Class="mud-theme-primary">
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["SelectingMessage_1"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["SelectingMessage_2"]</MudText>
            </MudExpansionPanel>
            <MudExpansionPanel Text=@Localize["EncodingOptions"] Class="mud-theme-primary">
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["EncodingOptions_1"]</MudText>
                <br />
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["EncodingOptions_2"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["EncodingOptions_3"]</MudText>
                <br />
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["EncodingOptions_4"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["EncodingOptions_5"]</MudText>
            </MudExpansionPanel>
            <MudExpansionPanel Text=@Localize["MoreOptions"] Class="mud-theme-primary">
                <MudText Typo="Typo.h3" Style="font-size: min(5vw, 18px);">@Localize["MoreOptions_1"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["MoreOptions_2"]</MudText>
                <br />
                <MudText Typo="Typo.h3" Style="font-size: min(5vw, 18px);">@Localize["MoreOptions_3"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["MoreOptions_4"]</MudText>
                <br />
                <MudText Typo="Typo.h3" Style="font-size: min(5vw, 18px);">@Localize["MoreOptions_5"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["MoreOptions_6"]</MudText>
                <br/>
                <MudText Typo="Typo.h3" Style="font-size: min(5vw, 18px);">@Localize["MoreOptions_7"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["MoreOptions_8"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["MoreOptions_9"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["MoreOptions_10"]</MudText>
            </MudExpansionPanel>
            <MudExpansionPanel Text=@Localize["Encoding"] Class="mud-theme-primary">
                <MudText Typo="Typo.body2" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["Encoding_1"]</MudText>
                <MudText Typo="Typo.body2" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["Encoding_2"]</MudText>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudExpansionPanel>
</MudExpansionPanels>
<br />
<MudExpansionPanels MultiExpansion="true">
    <MudExpansionPanel Text=@Localize["DecodingInstructions"]>
        <MudExpansionPanels MultiExpansion="true">
            <MudExpansionPanel Text=@Localize["SelectingCarrier"] Class="mud-theme-primary">
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["SelectingCarrier_6"]</MudText>
                <br />
                <h4>@Localize["SelectingCarrier_2"]</h4>
                <ul>
                    <li style="margin-left:10px">PNG</li>
                    <li style="margin-left:10px">WebP</li>
                </ul>
                <br />
                <h4>@Localize["SelectingCarrier_3"]</h4>
                <ul>
                    <li style="margin-left:10px">WAV</li>
                </ul>
                <br />
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(4vw, 14px);">@Localize["SelectingCarrier_4"]</MudText>
            </MudExpansionPanel>
            <MudExpansionPanel Text=@Localize["EncryptionPassword"] Class="mud-theme-primary">
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["EncryptionPassword_1"]</MudText>
            </MudExpansionPanel>
            <MudExpansionPanel Text=@Localize["Decoding"] Class="mud-theme-primary">
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["Decoding_1"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["Decoding_2"]</MudText>
                <MudText Typo="Typo.body1" Align="Align.Justify" Style="font-size: min(3vw, 14px);">@Localize["Decoding_3"]</MudText>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudExpansionPanel>
</MudExpansionPanels>

@code
{
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
        AppState.SetPageTheme(Color.Info, "AboutSteganography");
    }
    public void Dispose()
	{
		AppState.OnChange -= StateHasChanged;
	}
}