@inject IStringLocalizer<Resource> Localize
@inject AppState AppState
@implements IDisposable

<MudExpansionPanels Style="width:100%">
	<MudExpansionPanel Dense="true">
		<TitleContent>
			<div class="d-flex">
				<MudText>@Localize["MoreOptions"]</MudText>
			</div>
		</TitleContent>
		<ChildContent>
			<MudGrid style="height:100%" Class="align-content-center justify-space-around" Spacing="0">
				<MudItem sm="3" xs="12" Class="py-1" hidden="@(!OnWebPEnabledChagned.HasDelegate)">
					<MudText Typo="Typo.body1" Align="Align.Center">@Localize["CarrierFormat"]</MudText>
					<MudContainer Class="d-flex flex-row justify-space-around align-center">
						<MudText Typo="Typo.body2" Align="Align.Center" Style="width:60px">PNG</MudText>
						<MudSwitch Checked="@webPEnabled" CheckedChanged="@((bool w) => WebPEnabledChanged(w))" Color=@Color.Primary T="bool" Class="mr-n2" Disabled="@Disabled" />
						<MudText Typo="Typo.body2" Align="Align.Center" Style="width:60px">WebP</MudText>
					</MudContainer>
				</MudItem>
				<MudItem sm="3" xs="12" Class="py-1">
					<MudText Typo="Typo.body1" Align="Align.Center">@Localize["MessageCompression"]</MudText>
					<MudContainer Class="d-flex flex-row justify-space-around align-center">
						<MudText Typo="Typo.body2" Align="Align.Center" Style="width:60px">@Localize["Off"]</MudText>
						<MudSwitch Checked="@compressionEnabled" CheckedChanged="@((bool c) => CompressionEnabledChanged(c))" Class="mr-n2" Color=@Color.Primary T="bool" Disabled="@Disabled" />
						<MudText Typo="Typo.body2" Align="Align.Center" Style="width:60px">@Localize["On"]</MudText>
					</MudContainer>
				</MudItem>
				<MudItem sm="3" xs="12" Class="py-1">
					<MudText Typo="Typo.body1" Align="Align.Center">@Localize["MessageEncryption"]</MudText>
					<MudContainer Class="d-flex flex-row justify-space-around align-center">
						<MudText Typo="Typo.body2" Align="Align.Center" Style="width:60px">@Localize["Off"]</MudText>
						<MudSwitch Checked="@encryptionEnabled" CheckedChanged="@((bool e) => EncryptionEnabledChanged(e))" Class="mr-n2" Color=@Color.Primary T="bool" Disabled="@Disabled" />
						<MudText Typo="Typo.body2" Align="Align.Center" Style="width:60px">@Localize["On"]</MudText>
					</MudContainer>
				</MudItem>
				<MudItem sm="3" xs="12" Class="py-1">
					<MudText Typo="Typo.body1" Align="Align.Center">@Localize["ScatteredEncoding"]</MudText>
					<MudContainer Class="d-flex flex-row justify-space-around align-center">
						<MudText Typo="Typo.body2" Align="Align.Center" Style="width:60px">@Localize["Off"]</MudText>
						<MudSwitch Checked="@scatteredEncodingEnabled" CheckedChanged="@((bool s) => ScatteredEncodingEnabledChanged(s))" Class="mr-n2" Color=@Color.Primary T="bool" Disabled="@Disabled" />
						<MudText Typo="Typo.body2" Align="Align.Center" Style="width:60px">@Localize["On"]</MudText>
					</MudContainer>
				</MudItem>
				<MudItem xs="12" hidden="@(!encryptionEnabled)">
					<MudDivider />
					<MudText Typo="Typo.body1" Class="pt-4" Align="Align.Center">@Localize["EncryptionPassword"]</MudText>
					<PasswordInput RepeatPassword="true" OnPasswordChanged="@((string p) => PasswordChanged(p))"/>
				</MudItem>
			</MudGrid>
		</ChildContent>
	</MudExpansionPanel>
</MudExpansionPanels>

@code {
	[Parameter] public bool Disabled { get; set; } = false;

	[Parameter] public EventCallback<SteganographyOptions> OnOptionsChanged { get; set; }

	[Parameter] public EventCallback<bool> OnWebPEnabledChagned { get; set; }

	bool webPEnabled = false;
	bool compressionEnabled = false;
	bool encryptionEnabled = false;
	bool scatteredEncodingEnabled = false;

	SteganographyOptions options = new SteganographyOptions();

	protected override void OnInitialized() { AppState.OnChange += StateHasChanged; }
	public void Dispose() { AppState.OnChange -= StateHasChanged; }

	async Task WebPEnabledChanged(bool value)
	{
		webPEnabled = value;
		await OnWebPEnabledChagned.InvokeAsync(webPEnabled); 
	}
	async Task CompressionEnabledChanged(bool value)
	{
		compressionEnabled = value;
		options.CompressionEnabled = compressionEnabled;
		await OnOptionsChanged.InvokeAsync(options);
	}
	async Task ScatteredEncodingEnabledChanged(bool value)
	{
		scatteredEncodingEnabled = value;
		options.ScatteredEncodingEnabled = scatteredEncodingEnabled;
		await OnOptionsChanged.InvokeAsync(options); 
	}
	async Task EncryptionEnabledChanged(bool value)
	{
		encryptionEnabled = value;
		options.EncryptionEnabled = encryptionEnabled;
		await OnOptionsChanged.InvokeAsync(options);
	}
	async Task PasswordChanged(string? value)
	{
		options.Password = value;
		await OnOptionsChanged.InvokeAsync(options);
	}
}
